* {
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono', monospace;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    color: #6d6e6f;
}

h1, h2, h3, h4, h5, h6 {
    color: #bdbebf;
  }

h1 {
    font-size: 4.2rem;
  }

p, a, code {
    color: #6d6e6f;
    font-size: 1rem;
  }

a {
    text-decoration: none;
  }

a:hover {
    color: #ffffff;
  }

a:active {
    color: #979899;
  }

address {
    font-style: normal;
    color: #57595a;
}

.header {
    height: 100vh;
    width: 100%;
    background-color: #958f8f;
}

.container header-container {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-title {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    padding: 1.7rem 1.7rem 0rem;
    background-color: #858888;
    z-index: 2;
    position: relative;
  }

.profile-logo {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
     padding: 1.7rem 1.7rem 1.7rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.about-me {
    display: block;
    padding: 10px;
}

.skills {
    display: block;
    padding: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.code-example {
    display: block;
    padding: 10px;
}

.education {
    display: block;
    padding: 10px;
}

.projects {
    display: block;
    padding: 10px;
}

.main {
    background-color: #a7acac;;
}

code {
    font-size: 0.7rem;
}

.footer {
    background-color: #4f5656;
}

.rss {
    margin: 0 auto;
    display: flex;
    width: 121px;
    height: 45px;
    background: url(../img/rs_school_js.svg) center center no-repeat;
    background-size: cover;
    justify-content:center;
}

.git {
    margin: 0 auto;
    display: flex;
    width: 50px;
    height: 45px;
    background: url(../img/github-mark.svg) center center no-repeat;
    background-size: cover;
}
